<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Equal measures 2030</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static',filename='styles/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <!-- <link href="css/freelancer.css" rel="stylesheet"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/worldMapPage.css') }}">

    <link href="{{ url_for('static',filename='styles/worldMapPage.css') }}" rel="stylesheet">


    <!--Custom map-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="{{ url_for('static',filename='js/datamaps.world.min.js') }}"></script>

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">World Map</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#page-down">Statistics</a>
                </li>
                <!--<li class="nav-item">-->
                <!--&lt;!&ndash;<a class="nav-link js-scroll-trigger" href="#portfolio">Statistics</a>&ndash;&gt;-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link js-scroll-trigger" href="#portfolio">Gallery</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link js-scroll-trigger" href="#about">About</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link js-scroll-trigger" href="#contact">Contact</a>-->
                </li>
            </ul>
        </div>
    </div>
</nav>


    <!--<link rel="import" href="worldmap.html">-->


    <link href="{{ url_for('static',filename='styles/world.css') }}" rel="stylesheet">

    <!--Custom map-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="{{ url_for('static',filename='js/datamaps.world.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/RadarChart.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <style>
        #chart {
            position: relative;
            top: 4.5em;
            left: 22em;}
    </style>

<div class="aspectwrapper">
    <div class="content">
        <div id="map" style="position: relative; width: 100%; height: 100%"></div>
        <script type=text/javascript>
            function getCountryDetails(country) {
                var result;
                $.ajax({
                    async:false,
                    type: "GET",
                    url: $SCRIPT_ROOT + '/getData',
                    data: {
                        "country": country
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        result = data;
                    }
                });

                return result;
            }
        </script>

        <script>
            var selected = [];
            var map = new Datamap({
                element: document.getElementById("map"),
                projection: 'mercator',
                fills: {
                    defaultFill: "#707076"
                },
                geographyConfig: {
                    highlightOnHover: false
                },
                done: function(datamap) {
                    datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
                        var countryId = geography.id;
                        console.log(countryId);
                        var countryName = geography.properties.name;
                        if(selected.includes(countryName)){
                            var index = selected.indexOf(countryName);
                            if (index > -1) {
                                selected.splice(index, 1);
                                var data = {};
                                data[countryId] = "#707076";
                                map.updateChoropleth(data);
                            }
                        } else {
                            selected.push(countryName);
                            var data = {};
                            data[countryId] = "green";
                            map.updateChoropleth(data);
                        }

                    });
                }
            });
        </script>
    </div>
</div>
<div id="body">
    <div id="chart"></div>
</div>

<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                </div>
                <div class="footer-col col-md-4">
                    <h3>Follow us!</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://www.facebook.com/Equal2030/"rel="noopener noreferrer" target="_blank">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://twitter.com/Equal2030" rel="noopener noreferrer" target="_blank">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://www.linkedin.com/company-beta/13445896"rel="noopener noreferrer" target="_blank">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top d-lg-none">
    <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ url_for('static',filename='js/jquery.easing.min.js') }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ url_for('static',filename='js/jqBootstrapValidation.js') }}"></script>
<script src="{{ url_for('static',filename='js/contact_me.js') }}"></script>

<!-- Custom scripts for this template -->
<script src="{{ url_for('static',filename='js/freelancer.min.js') }}"></script>



</html>
